<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="WpfApp1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="Username" value="" />
		<add key="Password" value="" />
		<add key="RememberMe" value="false" />
	</appSettings>
 <userSettings>
  <WpfApp1.Settings1>
   <setting name="Username" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberMe" serializeAs="String">
    <value>False</value>
   </setting>
  </WpfApp1.Settings1>
 </userSettings>
</configuration>